.createPost {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.textarea {
  border-radius: 8px !important;
}

.divider {
  margin: 12px 0;
}

.postButton {
  background-color: #12579e !important; // sənin main color
  border-radius: 8px !important;
  padding: 0 24px !important;
  font-weight: 500;
}
