.createPost {
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  background: #fff;
}

.textarea {
  border-radius: 8px !important;
}

.divider {
  margin: 12px 0;
}

.postButton {
  background-color: #12579e !important; // sənin main color
  border-radius: 8px !important;
  padding: 16px 24px !important;
  font-weight: 500;

}
.UploadIcon {
  display: flex;
  align-items: center;
  gap: 8px; /* icon ilə yazı arası boşluq */
  height: 40px; /* button hündürlüyü */
  padding: 0 20px;
  font-weight: 600;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
  

  img {
    height: 24px; /* icon ölçüsü */
  }

  &:hover {
    transform: scale(1.0); /* interaktiv hover effekti */
    border: 1px solid #12579e;
  }
}